/* 0277fd */
* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

:root {
    --screen-width: 1280px;
    --main-color-blue: #0277fd;
    --main-color-green: #08f89f;
}

html {
    width: 100%;
}

body {
    background-color: #0d0d0d;
}

a {
    color: var(--main-color-green);
    text-decoration: none;
}

/* elements */

.element__tag {
    padding: .5vw 0 .5vw 1vw;
    font-size: .9vw;
    font-weight: 500;
    color: var(--main-color-green);
    text-transform: uppercase;
    letter-spacing: .3vw;
    border-left: 2px solid var(--main-color-green);
}

/* header */

header {
    width: 100%;
    height: 6vw;
    display: flex;
    align-items: center;
}

.header__wrapper {
    margin: auto;
    width: 90%;
    max-width: var(--screen-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header__container {
    display: flex;
    align-items: center;
}

.header__logo {
    width: 2.8vw;
    height: 2.8vw;
}

.header__company-name {
    margin-left: 1vw;
    font-size: 1.2vw;
    font-weight: 500;
    color: #f5f5f5;
    /* text-transform: uppercase; */
    letter-spacing: .25vw;
}

.header__menu {
    display: flex;
    gap: 2vw;
}

.header__menu-item {
    font-size: 1vw;
    font-weight: 500;
    color: #f5f5f5;
}

.header__btn {
    padding: .6vw 2vw;
    font-size: 1vw;
    font-weight: 500;
    color: #f5f5f5;
    background-color: var(--main-color-blue);
    border: 2px solid var(--main-color-blue);
    border-radius: 10vw;
    -webkit-border-radius: 10vw;
    -moz-border-radius: 10vw;
    -ms-border-radius: 10vw;
    -o-border-radius: 10vw;
    -webkit-box-shadow: 0px 0px 25px 15px rgba(2, 119, 253, 0.5);
    -moz-box-shadow: 0px 0px 25px 15px rgba(2, 119, 253, 0.5);
    box-shadow: 0px 0px 25px 15px rgba(2, 119, 253, 0.5);
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

.header__btn:hover {
    background-color: rgb(3, 119, 252, 0.75);
    -webkit-box-shadow: 0px 0px 25px 15px rgba(2, 119, 253, 0.75);
    -moz-box-shadow: 0px 0px 25px 15px rgba(2, 119, 253, 0.75);
    box-shadow: 0px 0px 25px 15px rgba(2, 119, 253, 0.75);
}


/* fscreen */

.fscreen {
    width: 100%;
    min-height: 40vw;

    background-image: url(../images/pattern_treug_2.svg);
    background-position-x: left;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 75vw;
}

.fscreen__blur {
    width: 100%;
    display: flex;
    backdrop-filter: blur(3px);
}

.fscreen__wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: var(--screen-width);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.fscreen__container {
    width: calc(60% - 1vw);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fscreen__tag {
    margin-bottom: 2vw;
}

.fscreen__title {
    font-size: 3vw;
    font-weight: 800;
    color: #fff;
    line-height: 1.3;
}

.fscreen__title > span {
    color: var(--main-color-green);
}

.fscreen__desc {
    margin-top: 1vw;
    width: 85%;
    font-size: 1vw;
    font-weight: 400;
    color: #f5f5f5da;
    line-height: 1.7;
}

.fscreen__image-box {
    width: calc(40% - 1vw);
    min-height: 40vw;
    background-image: url(../images/pattern_treug.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.fscreen__image {
    min-height: 40vw;
    background-image: url(../images/robot.png);
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    /* animation-name: rotation; */
    animation-iteration-count: infinite;
    animation-duration: 10s;
}

@keyframes rotation {

    from {
        filter: hue-rotate(0deg);
        -webkit-filter: hue-rotate(0deg);
    }
    
    50% {
        filter: hue-rotate(360deg);
        -webkit-filter: hue-rotate(360deg);
    }
    
    to {
        filter: hue-rotate(0deg);
        -webkit-filter: hue-rotate(0deg);
    }
    
    }




/* banner */

.banner {
    width: 100%;
    display: flex;
}

.banner__wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: var(--screen-width);
    background-image: url(../images/20220204.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner__blur {
    padding: 2vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #0277fd70;
    backdrop-filter: blur(20px);
    box-sizing: border-box;
}

.banner__container {
    width: calc(50% - 1vw);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner__title {
    font-size: 2.5vw;
    font-weight: 700;
    color: #fff;
}

.banner__desc {
    font-size: 1vw;
    font-weight: 400;
    color: #f5f5f5;
    line-height: 1.7;
}


/* about */

.about {
    margin: 8vw 0;
    width: 100%;
    min-height: 30vw;
    background-image: url(../images/hand.png);
    background-position-x: left;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 50vw;
}

.about__wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: var(--screen-width);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about__container {
    width: calc(50% - 1vw);
}

.about__image {
    width: 100%;
}

.about__tag {
    margin-bottom: 2vw;
}

.about__title {
    font-size: 2.5vw;
    font-weight: 700;
    color: #fff;
}

.about__list {
    margin-top: 2vw;
    font-size: 1vw;
    font-weight: 400;
    color: #f5f5f5;
    line-height: 1.7;
    list-style-type: none;
}

.about__list > li {
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

.about__list > li:hover {
    cursor: pointer;
    color: var(--main-color-green);
}

.about__list > li > span {

    font-weight: 300;
    display: none;
}

.about__list > li::before {
    margin-right: 1vw;
    width: .5vw;
    height: .5vw;
    border: 2px solid var(--main-color-green);
    border-radius: 50%;
    content: '';
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}


/* SECTION – feedback */

.feedback {
    margin: 4vw 0;
    width: 100%;
    display: flex;
}

.feedback__wrapper {
    margin: 0 auto;
    padding: 4vw;
    width: 90%;
    max-width: var(--screen-width);
    background-color: #252525;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.feedback__form {
    width: calc(50% - 1vw);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    gap: 1vw;
}

.feedback__form_input {
    padding: 0 1vw;
    width: calc(50% - .5vw);
    height: 4vw;
    font-size: 1vw;
    font-weight: 500;
    background: #f5f5f5;
    background-color: #f5f5f5;
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    box-sizing: border-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.feedback__form_input-100 {
    width: 100%;
}

.feedback__form_input::placeholder {
    color: #202020;
}

.feedback__form_textarea {
    padding: 1vw;
    width: 100%;
    height: 6vw;
    font-size: 1vw;
    font-weight: 500;
    background: #f5f5f5;
    background-color: #f5f5f5;
    border: 2px solid #f0f0f0;
    border-radius: 10px;
    box-sizing: border-box;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.feedback__form_textarea::placeholder {
    color: #202020;
}

.feedback__form_btn {
    width: calc(50% - 1vw);
    height: 4vw;
    font-size: 1vw;
    font-weight: 500;
    color: #fff;
    background-color: var(--main-color-blue);
    border-radius: 10px;
    box-sizing: border-box;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.feedback__form_policy {
    margin: auto 0;
    width: calc(50% - 1vw);
    font-size: .9vw;
    font-weight: 500;
    color: #f5f5f5;
}

.feedback__form_policy > a {
    color: var(--main-color-green);
}

.feedback__info {
    width: calc(50% - 1vw);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feedback__title {
    font-size: 2.5vw;
    font-weight: 700;
    color: #fff;
    text-align: center;
}

.feedback__image {
    margin-top: 2vw;
    width: 4vw;
    max-width: 100%;
}

.feedback__desc {
    margin-top: 2vw;
    font-size: 1.2vw;
    font-weight: 500;
    color: #f5f5f5;
    text-align: center;
}


/* footer */

footer {
    padding: 1.5vw 0;
    background-color: #252525;
}

.footer__wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: var(--screen-width);
    display: flex;
    justify-content: center;
}

.footer__copyright {
    font-size: 1vw;
    font-weight: 500;
    color: #f5f5f5;
}